In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("salary.csv")

In [6]:
data.head(10)

  experience  test_score  interview_score  salary
0          0        8.00                9   50000
1          0        8.00                6   45000
2       five        6.00                7   60000
3        two       10.00               10   65000
4      seven        9.00                6   70000
5      three        7.00               10   62000
6        ten        7.85                7   72000
7     eleven        7.00                8   80000

In [7]:
dict={"five":5,"two":2,"seven":7,"three":3,"ten":10,"eleven":11}

In [8]:
dict

{'five': 5, 'two': 2, 'seven': 7, 'three': 3, 'ten': 10, 'eleven': 11}

In [9]:
data.isnull().sum()

experience         0
test_score         0
interview_score    0
salary             0
dtype: int64

In [35]:
def convert_to_int(word):
    word_dict={"one":1,"five":5,"two":2,"seven":7,"three":3,"ten":10,"eleven":11,"0":0}
    return word_dict[word]

In [36]:
X=data.iloc[:,:3]

In [43]:
y=data.iloc[:,-1]

In [37]:
X['experience']=X['experience'].apply(lambda x:convert_to_int(x))

In [38]:
X

   experience  test_score  interview_score
0           0        8.00                9
1           0        8.00                6
2           5        6.00                7
3           2       10.00               10
4           7        9.00                6
5           3        7.00               10
6          10        7.85                7
7          11        7.00                8

In [39]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [44]:
regressor.fit(X,y)

LinearRegression()

In [45]:
import pickle

In [46]:
pickle.dump(regressor,open('model.pkl','wb'))

In [55]:
model=pickle.load(open('model.pkl','rb'))
print(model.predict([[0,10,10]]))

[58340.74887092]